In [48]:
#list and its default functions

In [49]:
l1=[range(1,10),'yash','1234']

In [50]:
l1

[range(1, 10), 'yash', '1234']

In [51]:
print(l1)

[range(1, 10), 'yash', '1234']

In [52]:
print(l1[0])

range(1, 10)

In [53]:
print(l1[0][2])

3

In [54]:
l2=[1,2,34,5,5,'yas','334']

In [55]:
l2

[1, 2, 34, 5, 5, 'yas', '334']

In [56]:
print(l2)

[1, 2, 34, 5, 5, 'yas', '334']

In [57]:
l2.append(98)

In [58]:
l2

[1, 2, 34, 5, 5, 'yas', '334', 98]

In [59]:
l2.copy()

[1, 2, 34, 5, 5, 'yas', '334', 98]

In [60]:
l3=l2.copy()

In [61]:
l3

[1, 2, 34, 5, 5, 'yas', '334', 98]

In [62]:
l2.clear()

In [63]:
l2

[]

In [64]:
l3

[1, 2, 34, 5, 5, 'yas', '334', 98]

In [65]:
l3.count("yas")

1

In [66]:
l3

[1, 2, 34, 5, 5, 'yas', '334', 98]

In [67]:
l3.extend([99,31])

In [68]:
l3

[1, 2, 34, 5, 5, 'yas', '334', 98, 99, 31]

In [69]:
l3.index(98)

7

In [70]:
l3.insert(5,"got")

In [71]:
l3

[1, 2, 34, 5, 5, 'got', 'yas', '334', 98, 99, 31]

In [72]:
l3.pop(6)

'yas'

In [73]:
l3

[1, 2, 34, 5, 5, 'got', '334', 98, 99, 31]

In [74]:
l3.remove("334")

In [75]:
l3

[1, 2, 34, 5, 5, 'got', 98, 99, 31]

In [76]:
l3.insert(5,"got")

In [77]:
l3

[1, 2, 34, 5, 5, 'got', 'got', 98, 99, 31]

In [78]:
l3.reverse()

In [79]:
l3

[31, 99, 98, 'got', 'got', 5, 5, 34, 2, 1]

In [80]:
l3

[31, 99, 98, 'got', 'got', 5, 5, 34, 2, 1]

In [83]:
l3.pop(3)

'got'

In [84]:
l3.remove("got")

In [85]:
l3.sort()

In [86]:
l3

[1, 2, 5, 5, 31, 34, 98, 99]

In [87]:
#dictionary and its functions

In [88]:
d1={1:"as",2:"in",3:"on"}

In [89]:
d1

{1: 'as', 2: 'in', 3: 'on'}

In [90]:
d2=dict({1:'my',2:"on",3:"in"})

In [91]:
print(d2)

{1: 'my', 2: 'on', 3: 'in'}

In [92]:
d3=d2.copy()

In [93]:
d3

{1: 'my', 2: 'on', 3: 'in'}

In [94]:
d2.clear()

In [95]:
d2

{}

In [96]:
d3.fromkeys(d3)

{1: None, 2: None, 3: None}

In [98]:
values="yas"
d3.fromkeys(values)

{'y': None, 'a': None, 's': None}

In [99]:
d3.fromkeys(values,values)

{'y': 'yas', 'a': 'yas', 's': 'yas'}

In [100]:
d3

{1: 'my', 2: 'on', 3: 'in'}

In [101]:
d3.get(2)

'on'

In [102]:
d3.items()

dict_items([(1, 'my'), (2, 'on'), (3, 'in')])

In [103]:
d3.keys()

dict_keys([1, 2, 3])

In [104]:
d3.values()

dict_values(['my', 'on', 'in'])

In [105]:
d3.pop(1)

'my'

In [106]:
d3

{2: 'on', 3: 'in'}

In [109]:
d3.popitem()

(3, 'in')

In [110]:
d3

{2: 'on'}

In [111]:
d3.update(d1)

In [112]:
d3

{2: 'in', 1: 'as', 3: 'on'}

In [ ]:
#sets and its function

In [119]:
s1={1,2,3,23,2,2,4,5,"yas"}

s1

In [120]:
s1={1,2,3,23,2,2,4,5,"yas"}

In [121]:
s1

{1, 2, 23, 3, 4, 5, 'yas'}

In [122]:
s1.add(98)

In [123]:
s1

{1, 2, 23, 3, 4, 5, 98, 'yas'}

In [124]:
s2=s1.copy()

In [125]:
s2

{1, 2, 23, 3, 4, 5, 98, 'yas'}

In [126]:
s1.clear()

In [127]:
s1

set()

In [131]:
a={1,2,3,23,4,34,}
b={6,5,45,34,332,4,2,3}

In [132]:
a.difference(b)

{1, 23}

In [133]:
b.difference(a)

{5, 6, 45, 332}

In [137]:
a.discard(23)

In [138]:
a

{1}

In [139]:
print(a.discard(23))

None

In [140]:
b.intersection(a)

set()

In [141]:
a.intersection(b)

set()

In [142]:
s1.intersection(b)

set()

In [143]:
c={1,2,3,4}
d={1,2,3,5}

In [144]:
c.intersection(d)

{1, 2, 3}

In [145]:
c.isdisjoint(d)

False

In [146]:
e={6,4}

In [147]:
d.isdisjoint(e)

True

In [148]:
d.issubset(c)

False

In [149]:
f={1,2}

In [151]:
f.issubset(c)

True

In [152]:
A=c.union(d,e,f)

In [153]:
A

{1, 2, 3, 4, 5, 6}

In [154]:
B={"yas","got"}

In [155]:
C=A.update(B)

In [158]:
print('C=',C)

C= None

In [159]:
#TUPLES

In [160]:
t1=tuple(l3)

In [161]:
t1

(1, 2, 5, 5, 31, 34, 98, 99)

In [162]:
t1.count(31)

1

In [163]:
t1.index(98)

6

In [164]:
t2=tuple(d3)

In [165]:
t2

(2, 1, 3)

In [166]:
t3=tuple(c)

In [167]:
t3

(1, 2, 3, 4)

In [168]:
#strings

In [169]:
st1 = "life is a killer."

In [170]:
st1.capitalize()

'Life is a killer.'

In [171]:
st2 = "life is A Killer."

In [172]:
st2.capitalize()

'Life is a killer.'

In [175]:
Y=st1.center(24)

In [177]:
Y

'   life is a killer.    '

In [178]:
st1.casefold()

'life is a killer.'

In [179]:
st1.casefold()

'life is a killer.'

In [181]:
y="LIFE IS AN AWESOME"

In [183]:
y.casefold()

'life is an awesome'

In [184]:
y.isalnum()

False

In [187]:
y.isalpha()

False

In [188]:
y.isascii()

True

In [196]:
y.isdecimal()

False

In [190]:
y.islower()

False

In [191]:
y.endswith("ggdggdg")

False

In [192]:
print(y)

LIFE IS AN AWESOME

In [194]:
count=st2.count("is")

In [195]:
count

1

In [197]:
result=st2.find("an")

In [198]:
result

-1